<%= form_with(model: @article) do |form| %>
  <%=render 'error/errors', obj: @article %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_area :category %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.collection_select(:category_ids, Category.all, :id, :name, { :prompt => "Sélectionner une catégorie" }, { multiple: true,
        size: 3, class: "custom-select shadow rounded" }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
