<%= form_with(model: user) do |form| %>

<%=render 'error/errors', obj: @user %>

  <div class="field">
    <%= form.label :Nom %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :mail %>
    <%= form.text_field :usermail %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest %>
  </div>

  <div class="actions">
    <%= form.submit(@user.new_record? ?  "Sign Up" : "Modifier votre profil") %>
  </div>
<% end %>
